@model CreditCardExam.Models.CustAndTrans
@{
    ViewBag.Title = "Everything";
}

<h2>Everything</h2>

<span>@Html.DisplayFor(model => model.customer.emailAddress)</span>
<br/>
<h3>Transactions</h3>
<table>
    @foreach (var ccTrans in Model.transactions)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => ccTrans.transDate)</td>
            <td>@Html.DisplayFor(modelItem => ccTrans.transDesc)</td>
        </tr>
    }
</table>
<h3>Edit Customer</h3>
@using (Html.BeginForm("EditCustomer", "Customer"))
{
    @Html.HiddenFor(model => model.customer.Id)
    @Html.LabelFor(model => model.customer.firstName, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.customer.firstName, new { htmlAttributes = new { @class = "form-control" } })
    <input type="submit" value="Save" class="btn btn-default" />
}
<h3>Edit Transaction</h3>
@using (Html.BeginForm("EditTransaction", "Transaction"))
{
    @Html.HiddenFor(model => model.transactions[0].Id)
    @Html.LabelFor(model => model.transactions[0].transDesc, htmlAttributes: new { @class = "control-label col-md-2" })
    @Html.EditorFor(model => model.transactions[0].transDesc, new { htmlAttributes = new { @class = "form-control" } })
    <input type="submit" value="Save" class="btn btn-default" />
}
