@model IEnumerable<CreditCardExam.Models.CCTrans>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.transDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.transAmt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.custId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.transDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.transAmt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.custId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
